* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top {
    background-color: #1F2937;
    height: 400px;
    width: auto;
}

.randInfo {
    height: 350px;
    width: auto;
}   

.quote {
    background-color: #E5E7EB;
    height: 350px;
    width: auto;
}

.action {
    height: 350px;
    width: auto;
}

.end {
    background-color: #1F2937;
    height: 100px;
    width: auto;
}
